<title>Kangeko Herbal SMK</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="Tanaman rempah produk herbal sekolah">
<link rel="icon" href="/img/ardianta.jpg" />
<!-- {{ $styles := resources.Get "css/main.css" | postCSS }}

{{ if .Site.IsServer }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
{{ else }}
{{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" />
{{ end }}

{{ $image := resources.Get "/static/img/1.png" }}
{{ if not .Site.IsServer }}


<link href='https://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
{{ template "_internal/google_analytics.html" . }}
{{ end }} -->