<nav class="bg-teal-600 text-white sticky top-0 z-40 shadow-md">
    <div class="container mx-auto px-4 lg:max-w-7xl flex justify-between">
        <div class="flex flex-row gap-1 items-center py-3 md:py-2">
            <a href="/ "
                class="hidden md:inline-flex items-center gap-1 px-3 py-2 rounded-lg font-medium text-dark hover:bg-teal-700 focus:ring-2 focus:ring-teal-500">

                Home
            </a>
            <a href="/about "
                class="hidden md:inline-flex items-center gap-1 px-3 py-2 rounded-lg font-medium text-dark hover:bg-teal-700 focus:ring-2 focus:ring-teal-500">
                Posts
            </a>
            <a href="/about "
                class="hidden md:inline-flex items-center gap-1 px-3 py-2 rounded-lg font-medium text-dark hover:bg-teal-700 focus:ring-2 focus:ring-teal-500">
                Tentang
            </a>
        </div>
    </div>
</nav>