<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script>
function myFunction() {
   var element = document.body;
   element.classList.toggle("dark_mode");
}
</script>

<!-- <script type="text/javascript" async src="/js/lazysizes.min.js"></script> -->
<!-- <script type="text/javascript" src="/js/twemoji.min.js"></script> -->

<!-- Initialize Twitter Emoji -->
<!-- <script>
    // apply twitter emoji
    var article = document.querySelector("article");
    twemoji.parse(article, {
        base: "/img/icon/twemoji/",
        // className: "emoji",    // default "emoji"
        ext: ".svg",
        callback: function (icon, options) {
            return '/img/icon/twemoji/' + icon + '.svg';
        }
    });
</script> -->