<nav aria-label="Page navigation">
  {{ $pag := $.Paginator }} {{ if gt $pag.TotalPages 1 }}
  <ul class="pagination">
    {{ with $pag.First }}
    <li class="page-item">
      <a class="page-link" href="{{ .URL }}" aria-label="First"
        ><span aria-hidden="true">&laquo;&laquo;</span></a
      >
    </li>
    {{ end }}
    <li {{ if not $pag.HasPrev }}class="disabled page-item" {{ end }}>
      <a
        class="page-link"
        href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}"
        aria-label="Previous"
        ><span aria-hidden="true">&laquo;</span></a
      >
    </li>
  </ul>
</nav>