<article class="card-post">
  <div class="container">
    <div class="row mt-4">
      {{ $paginator := .Paginate (where .Site.Pages "Type" "post") 6 }}
      {{ range $paginator.Pages }}
      <div class="col-md-4 mb-4 d-flex">
        <div class="card">
          <a href="{{ .RelPermalink }}">
            <img
              src="https://source.unsplash.com/200x200/?{{ .Slug }}/200" alt="{{ .Title }}"/>
          </a>
          <div class="card-body">
            <h6 class="card-title">
              <a class="text-dark" href="{{ .RelPermalink }}">{{ .Title }}</a>
            </h6>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</article>
<div class="container">{{ partial "pagination.html" . }}</div>
